.login__container {
    padding: 40px;
    min-width: 400px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px #3fb476;
}

.login__text>h4 {
    font-size: 40px;
}

.login__text {
    margin-bottom: 30px;
}

.auth_logo {
    width: 300px;
    height: auto;
}

.a_link {
    opacity: 0.8;
}

.a_link:hover {
    opacity: 1;
}

.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

@media screen and (max-width: 990px) {
    .login__container>img {
        height: 110px;
    }

    .login__container {
        padding: 20px;
        min-width: 320px;
    }

    .login__withGoogle>span {
        font-size: 15px;
    }

    .login__withGoogle>img {
        height: 20px !important;
        margin-right: 10px;
    }

    .login__text>h4 {
        font-size: 30px;
    }

    .auth_logo {
        width: 200px;
        height: auto;
    }
}