.app {
    display: flex;
    height: 100vh;
}

.app2 {
    flex: 1;
    overflow: auto;
    padding: 20px;
}

.pc {
    display: block;
}

.mobile {
    display: none;
}

@media screen and (max-width: 660px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .app {
        display: unset;
        height: unset;
    }

    .app2 {
        flex: unset;
        padding-bottom: 50px;
    }
}